<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>

    <title>Usuarios</title>
  </head>
  <body>
    <!-- HEADER -->

    <%- include("../partials/header") %>

<!--Barra de navegacion celular-->
<%-  include("../partials/bottomNav") %> 

    <!--USUARIOS REGISTRADOS-->
    <main>
      <section>
        <a href="./register"><button class="button">Agregar Usuario</button></a>

        <div class="first-article">
          <% for(let index=0; index < users.length; index++) { %>
          <article>
            <!-- <a href="./user/<%= users[index].id %>"> -->
                <h2 class="descripcion"><%= users[index].userName%></h2>
            </a
            >
            <div class="image">
              <img
                src="/img/users/<%= users[index].avatar %> "
                class="barra"
              />
            </div>
            <!-- ../users/profile -->
<!--             <div class="image">
              <img
                src="/img/uploads/"
                alt=""
                class="barra"
              />
            </div> -->

            <!--DEMAS DATOS-->
            <div class="contenido-libro">
              <p class="autor"><b>Nombre Completo </b> <%= users[index].fullName %></p>
              <p class="categoria">
                <b>Email </b> <%= users[index].userEmail %>
              </p>
              <p class="precio">
                <b>Numero de telefono </b> <%= users[index].phoneNumber %> 
              </p>
            </div>
            
            <!-- eliminar usuario -->
            <form
              action="/users/<%= users[index].id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="button">Eliminar</button>
            </form>
           <!--  <a href="./edit/<%= users[index].id  %> "
              ><button type="submit" class="button">Editar</button></a
            > -->
            <br />
          </article>
          <% } %>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <%- include("../partials/footer") %>
    <script src="/JS/cartAmount.js"></script>
  </body>
</html>
