<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>

    <title>Editar Datos</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        Editar Datos del usuario: <%= users.userName %>
        <a href="/"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>

      <!-- FORMULARIO DE REGIRSTRO -->

      <form
        action="/users/<%= users.id ?? ''%>?_method=PUT "
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre Completo</span>
            <input
              type="text"
              value="<%=users.fullName%>"
              name="fullName"
              placeholder="Nombre"
            />
          </div>
          <div class="input-box">
            <span class="details">Usuario</span>
            <input
              type="text"
              value="<%=users.userName%>"
              name="userName"
              placeholder="Usuario"
            />
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="text"
              value="<%=users.userEmail%>"
              name="userEmail"
              placeholder="Email"
            />
          </div>
          <div class="input-box">
            <span class="details">Numero de Telefono</span>
            <input
              type="text"
              value="<%=users.phoneNumber%>"
              name="phoneNumber"
              placeholder="Numero de Tel"
            />
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input
              type="password"
              value="<%=users.password%>"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="input-box">
            <span class="details">Ciudad</span>
            <input
              type="text"
              value="<%=users.city%>"
              name="city"
              placeholder="Ciudad"
            />
          </div>
          <div class="foto-perfil">
            <input type="file" name="avatar" />
            <% if (locals.errors && errors.avatar) { %>
              <div class="text-danger">
                <%= errors.avatar.msg %> 
              </div>
            <% } %>
            <label for="foto-perfil"
              ><i class="fa-solid fa-image"></i>Foto de perfil</label
            >
          </div>
        </div>
          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
