<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>
    
    <title>Crear</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        Agregar Producto
        <a href="/"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>
      <!-- FORMULARIO -->
      
      <form method="POST" action="/products/create"  enctype="multipart/form-data">  
        <!--  Lista donde se almacenan los errores de validaciones Front -->
        <div class="errores">
          <ul></ul>
        </div>
        <!--  -->
        <div class="user-details">
          <div class="input-box">
            
            <span class="details">Titulo</span>
            <input type="text" name="title" placeholder="Titulo" class="titulo" />
            <% if (locals.errors && errors.title) { %>
              <div class="text-danger">
                <%= errors.title.msg %> 
              </div>
              <% } %>
            </div>
            <div class="input-box">
              
              <span class="details">Autor</span>
              <input type="text" name="author" placeholder="Autor" class="author" />
              <% if (locals.errors && errors.author) { %>
                <div class="text-danger">
                  <%= errors.author.msg %> 
                </div>
                <% } %>
              </div>
              <div class="input-box">
                
                <span class="details">Precio</span>
                <input type="text" name="price" placeholder="Precio" class="price" />
                <% if (locals.errors && errors.price) { %>
                  <div class="text-danger">
                    <%= errors.price.msg %> 
                  </div>
                  <% } %>
                </div>
                <div class="input-box">
                  
                  <span class="details">Moneda</span>
                  <input type="text" name="currency" placeholder="Moneda" class="currency" />
                  <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                      <%= errors.price.msg %> 
                    </div>
                    <% } %>
                  </div>
                  <div class="input-box">
                    
                    <span class="details">Descripcion</span>
                    <input type="text" name="description" placeholder="Descripcion" class="description"  />
                    <% if (locals.errors && errors.description) { %>
                      <div class="text-danger">
                  <%= errors.description.msg %> 
                </div>
                <% } %>
              </div>
              <div class="input-box">
                
                <span class="details">Imagen</span>
                <div class="foto-producto">
                  <input 
                  type="file" 
                  name="image" 
                  accept=".jpg, .png, .jpeg" 
                  id="foto-producto" 
                  value=""
                  class="imagen"
                  />
                  
                  <label for="foto-producto"
                  ><i class="fa-solid fa-image"></i>Foto del producto</label>
                  <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                      <%= errors.image.msg %> 
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
              <div>
                <label>Categoria</label>
                <select name="category_id">
                  <% category.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
          </select>
        </div>
        
        <div class="button">
          <input type="submit" value="Agregar" />
        </div>
      </div>
    </form>
  </div>
</body>
<!-- CUSTOM JS -->
<script src="/JS/validationsFrontProduct.js"></script>
</html>
