<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Include Head con CSS -->
      <%- include("../partials/head") %>

    <title>Edit</title>
</head>
<body>
    <body>
        <div class="container">
          <div class="title">Editar producto: <%= locals.oldData ? oldData.title :books.title %> 
            <a href="/"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          </div>
          <!-- FORMULARIO DE EDICION -->
          <form action="/products/<%= books.id ?? ''%>?_method=PUT " method="POST" enctype="multipart/form-data">  
             <!--  Lista donde se almacenan los errores de validaciones Front -->
        <div class="errores">
          <ul></ul>
        </div>
        <!--  -->
            <div class="user-details">
              <div class="input-box">
    
                <span class="details">Titulo</span>
                <input type="text" name="title" placeholder="Titulo" value="<%= locals.oldData ? oldData.title : books.title%>" class="titulo"/>
                <% if (locals.errors && errors.title) { %>
                  <div class="text-danger">
                      <%= errors.title.msg %> 
                  </div>
              <% } %>
              </div>
              <div class="input-box">
    
                <span class="details">Autor</span>
                <input type="text" name="author" placeholder="Autor" value="<%= locals.oldData ? oldData.author : books.author%>" class="author" />
                <% if (locals.errors && errors.author) { %>
                  <div class="text-danger">
                      <%= errors.author.msg %> 
                  </div>
              <% } %>
              </div>
              <div class="input-box">
    
                <span class="details">Precio</span>
                <input type="text" name="price" placeholder="Precio" value="<%= locals.oldData ? oldData.price : books.price%>" class="price" />
                <% if (locals.errors && errors.price) { %>
                  <div class="text-danger">
                      <%= errors.price.msg %> 
                  </div>
              <% } %>
              </div>
              <div class="input-box">
    
                <span class="details">Moneda</span>
                <input type="text" name="currency" placeholder="Moneda" value="<%= locals.oldData ? oldData.currency : books.currency%>" class="currency"/>
                <% if (locals.errors && errors.price) { %>
                  <div class="text-danger">
                      <%= errors.price.msg %> 
                  </div>
              <% } %>
              </div>
              <div class="input-box">
    
                <span class="details">Descripcion</span>
                <input type="text" name="description" placeholder="Descripcion" value="<%= locals.oldData ? oldData.description : books.description%>" class="description" />
                <% if (locals.errors && errors.description) { %>
                  <div class="text-danger">
                      <%= errors.description.msg %> 
                  </div>
              <% } %>
              </div>
              <div class="input-box">
    
                <span class="details">Imagen</span>
                <div class="foto-producto">
                  <input type="file" name="image" accept=".jpg, .png, .jpeg"  id="foto-producto" class="imagen" value=""/>
                  
                  <label for="foto-producto"
                    ><i class="fa-solid fa-image"></i>Foto del producto</label>
                    <% if (locals.errors && errors.image) { %>
                      <div class="text-danger">
                          <%= errors.image.msg %> 
                      </div>
                  <% } %>
                </div>
              </div>
            </div>
            <div>
              <label>Categoria</label>
              <select name="category_id">
                  <% category.forEach(category => { %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                  <% }); %>
              </select>
          </div>
          <div class="button">
            <input type="submit" value="Editar"/>
          </div>
        </div>
          </form>
        </div>
      </body>
      <script src="/JS/validationsFrontProduct.js"></script>
    </html>
    
