<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>

    <!-- Titulo -->
    <title>Product Details</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <!--Barra de navegacion celular-->
    <%- include("../partials/bottomNav") %>
<main>

    <h2 class="res">Resultados de la búsqueda: <p class="resultado">"<%= search %>"</p></h2>


    <% for( book of books  ) {  %>
    <div class="contenedor-total">
       
      <div class="card">
        
        <div class="imgBox">
          <a href="/products/detalle-producto/<%= book.id %> "></a> 
          <img src="/img/uploads/<%=book.image %>" />
        </div>
        
        <div class="details">
          <div class="title">
            <h3>
              <%= book.title ?? " " %> <br />
            </h3>
              </div>   

            <div class="genero">                
              <span> <b>Genero:</b> <%= book.categories.name %> </span>
          </div>
          <div class="autor">
            <span><b>Autor:</b> <%= book.author %> </span>
          </div>
   
            <a href="/products/cart"> <buttom class="button">Agregar al Carrito</button></a>
            </div>
            <div class="admin">
            <form
              action="/products/<%= book.id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="button">Eliminar</button>
            </form>
            <a href="../edit/<%= book.id  %> "
              ><button type="submit" class="button">Editar</button></a>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <% } %>
  </main>
    <!-- FOOTER -->

    <%- include("../partials/footer") %>
  </body>
</html>
